* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 800px;
  min-height: 600px;
  margin: 80px auto;
  border: 3px solid #0000;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.element {
  color: #ffff;
  font-size: 2rem;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
}

.element1 {
  background-color: crimson;
}

.element2 {
  background-color: steelblue;
}
