.buscador {
  width: 240px;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.btn {
  background: #440080;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.input {
  align-items: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}

.input {
  padding-bottom: 15px;
}
